<section class="flex-center task-details" *ngIf="task() as task">
  <section class="grid task-details__padding">
    <a href="/dashboard" class="flex">
      <img src="../../../../assets/img/Arrow%20left-circle-yellow.svg" alt="icon">
      <p class="flex-center task-details__text">volver</p>
    </a>

    <article class="grid">
      <p class="task-details__title">{{ task.title }}</p>
      <p class="task-details__text">{{ task.description }}</p>
    </article>

    <section class="flex">
      <article class="flex">
        <img src="../../../../assets/img/Calendar.svg" alt="icon">
        <p class="task-details__text">
          {{ task.date | date:'dd/MM/yyyy' }}
        </p>
      </article>

      <article class="flex">
        <img src="../../../../assets/img/Clock.svg" alt="icon">
        <p class="task-details__text">
          {{ formatTime(task.time) | date:'HH:mm' }}
        </p>
      </article>
    </section>
  </section>

  <section class="task-details__image-box">
    <article id="etiquetas">
      {{ task.labels.join(', ') }}
    </article>
  </section>
</section>
