<section *ngIf="task() as task" class="flex-center task-details">
  <section class="grid task-details__padding">
    <a class="flex" routerLink="/dashboard">
      <img alt="icon" src="assets/img/Arrow%20left-circle-yellow.svg">
      <p class="flex-center task-details__text">{{ backButton | translate }}</p>
    </a>
    <article class="grid">
      <p class="task-details__title">{{ task.title }}</p>
      <p class="task-details__text">{{ task.description }}</p>
    </article>
    <section class="flex">
      <article class="flex">
        <img alt="icon" src="assets/img/Calendar.svg">
        <p class="flex-center task-details__text">
          {{ task.date | date:'dd/MM/yyyy' }}
        </p>
      </article>
      <article class="flex">
        <img alt="icon" src="assets/img/Clock.svg">
        <p class="flex-center task-details__text">
          {{ formatTime(task.time) | date:'HH:mm' }}
        </p>
      </article>
    </section>
  </section>

  <section class="task-details__image-box">
    <article class="task__labels" id="etiquetas">
      <ng-container *ngFor="let lbl of task.labels">
        <span class="task__label">{{ lbl }}</span>
      </ng-container>
    </article>
  </section>
</section>
