@use '../00-settings/css-variables' as *;
@use '../01-tools/mixins' as *;

html {
  box-sizing: border-box;
  font-family: var(--font-primary), 'sans-serif';
}

body {
  margin: 0;
  background: var(--background);
  color: var(--neutral-900);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary), sans-serif;
  line-height: var(--line-height-tight);
  color: var(--landing-letters);
}

h1 , legend{ font-size: var(--font-size-5xl); }
h2 { font-size: var(--font-size-4xl); }
h3 { font-size: var(--font-size-3xl); }
h4 { font-size: var(--font-size-2xl); }
h5 { font-size: var(--font-size-xl); }
h6 { font-size: var(--font-size-lg); }

p {
  font-family: var(--font-primary), sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  color: var(--landing-letters);
}

a {
  font-family: var(--font-primary), sans-serif;
  color: var(--color-primary-1);
}

button {
  cursor: pointer;
  font-family: var(--font-primary), sans-serif;
  padding: var(--spacing-6) var(--spacing-24);
  color: var(--letters);
  background: var(--buttons);
  border-radius: var(--radius-md);
  border: none;
}

ol, li {
  padding: var(--spacing-6) var(--spacing-6) var(--spacing-6) ;
}

label { display: inline-block; margin-bottom: var(--spacing-2); font-weight: var(--font-weight-medium); font-family: var(--font-primary), sans-serif;}
input, textarea, select {
  border: var(--border-thin) solid var(--neutral-300);
  padding: var(--spacing-3);
  border-radius: var(--radius-md);
  background: var(--letters);
}

form {
  margin: var(--spacing-24);
  color: var(--letters);
  background: var(--components);
  border-radius: var(--radius-md);
}
