<form class="add-task-form" [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit($event)" novalidate>
  <fieldset class="grid-center">
    <legend class="form__legend">Recuperar contraseña</legend>
    <app-form-input
      formControlName="email"
      type="email"
      name="email"
      placeholder="Correo electrónico"
      [required]="true"
    ></app-form-input>
    <article class="error" *ngIf="recoverPasswordForm.get('email')?.touched && recoverPasswordForm.get('email')?.invalid">
      <small *ngIf="recoverPasswordForm.get('email')?.errors?.['required']">Correo obligatorio</small>
      <small *ngIf="recoverPasswordForm.get('email')?.errors?.['email']">Correo no válido</small>
    </article>
    <app-form-input
      formControlName="password"
      type="password"
      name="password"
      placeholder="Contraseña actual"
      [required]="true"
    ></app-form-input>
    <article class="error" *ngIf="recoverPasswordForm.get('password')?.touched && recoverPasswordForm.get('password')?.invalid">
      <small *ngIf="recoverPasswordForm.get('password')?.errors?.['required']">Contraseña obligatoria</small>
    </article>

    <section class="two-col flex">
      <app-form-input
        formControlName="newPassword"
        type="password"
        name="newPassword"
        placeholder="Nueva contraseña"
        [required]="true"
      ></app-form-input>
      <app-form-input
        formControlName="confirmPassword"
        type="password"
        name="confirmPassword"
        placeholder="Confirmar contraseña"
        [required]="true"
      ></app-form-input>
    </section>
    <article class="error" *ngIf="(recoverPasswordForm.get('newPassword')?.touched && recoverPasswordForm.get('newPassword')?.invalid) || (recoverPasswordForm.get('confirmPassword')?.touched && recoverPasswordForm.get('confirmPassword')?.invalid) || recoverPasswordForm.errors?.['passwordMismatch']">
      <small *ngIf="recoverPasswordForm.get('newPassword')?.errors?.['required']">Nueva contraseña obligatoria</small>
      <small *ngIf="recoverPasswordForm.errors?.['passwordMismatch']">Las contraseñas no coinciden</small>
    </article>
    <app-button type="submit" class="grid" [disabled]="recoverPasswordForm.invalid || submitted">Recuperar contraseña</app-button>
    <a href="/login">¿Recordaste tu contraseña? Iniciar sesión</a>
  </fieldset>
</form>
