<form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit($event)">
<fieldset class="grid-center">
  <legend>Iniciar sesión</legend>
  <app-form-input
  formControlName="email"
  type="email"
  name="email"
  placeholder="Correo electrónico"
  [required]="true"
  class="grid"
></app-form-input>
  <app-form-input
    formControlName="password"
    type="password"
    name="password"
    placeholder="Contraseña"
    [required]="true"
    class="grid"
  ></app-form-input>
  <article class="flex-center">
    <app-form-input
      formControlName="password"
      type="password"
      name="newPassword"
      placeholder="Nuevs contraseña"
      [required]="true"
      class="grid">
    </app-form-input>
    <app-form-input
      formControlName="password"
      type="password"
      name="confirmPassword"
      placeholder="Confirmar contraseña"
      [required]="true"
      class="grid"
    ></app-form-input>
  </article>
    <app-button type="submit" class="grid">Iniciar sesión</app-button>
    <a href="/login">¿Recordaste tu contraseña? Iniciar sesión</a>
    <a href="/register">¿No tienes cuenta? Registrate</a>
  </fieldset>
</form>
