<footer class="footer flex">
  <section class="grid-center">
    <a class="footer__logo" href="/landing"><img [src]="darkMode ? 'assets/img/logo_dark.svg' : 'assets/img/logo.svg'"
                                                 alt="logo del footer" class="footer__logo" height="0" width="0"></a>
    <article class="flex-center footer__brand">
      <h3 class="footer__texto">MemoWorks</h3>
      <img alt="copyright" class="footer__copyright" src="assets/img/copyright.svg">
    </article>
  </section>
  <article>
    <h3 class="footer__texto">{{ legalInformation | translate }}</h3>
    <ul>
      <li>
        <a href="/terms">{{ terms | translate }}</a>
      </li>
      <li>
        <a href="/styles">{{ styles | translate }}</a>
      </li>
      <li>
        <a href="/users">lista de usuarios</a>
      </li>
    </ul>
  </article>
  <article>
    <h3 class="footer__texto">{{ help | translate }}</h3>
    <ul>
      <li>
        <a href="/warning">{{ warning | translate }}</a>
      </li>
      <li>
        <a href="/privacy">{{ privacy | translate }}</a>
      </li>
      <li>
        <a href="/cookies">{{ cookies | translate }}</a>
      </li>
    </ul>
  </article>
  <article>
    <h3 class="footer__texto" id="contacto">{{ contact | translate }}</h3>
    <nav class="flex">
      <a href="#"><img alt="logo de discord" class="footer__icon" src="assets/img/discord.svg"></a>
      <a href="#"><img alt="logo de instagram" class="footer__icon" src="assets/img/instagram.svg"></a>
      <a href="#"><img alt="logo de twitter" class="footer__icon" src="assets/img/twitter.svg"></a>
      <a href="#"><img alt="logo de facebook" class="footer__icon" src="assets/img/facebook.svg"></a>
      <a href="#"><img alt="logo de reddit" class="footer__icon" src="assets/img/reddit.svg"></a>
      <a href="https://ko-fi.com/ricitos2001/tip"><img alt="logo de ko-fi" class="footer__icon"
                                                       src="assets/img/ko-fi.svg"></a>
    </nav>
  </article>
</footer>
