<footer class="footer flex">
  <section class="grid-center">
    <a href="/landing" class="footer__logo"><img [src]="darkMode ? 'assets/img/logo_dark.svg' : 'assets/img/logo.svg'" alt="logo del footer" class="footer__logo" width="0" height="0"></a>
    <article class="flex-center footer__brand">
      <h3 class="footer__texto">MemoWorks</h3>
      <img src="assets/img/copyright.svg" alt="copyright" class="footer__copyright">
    </article>
  </section>
  <article>
    <h3 class="footer__texto">{{legalInformation | translate}}</h3>
    <ul>
      <li>
        <a href="/terms">{{terms | translate}}</a>
      </li>
      <li>
        <a href="/styles">{{styles | translate}}</a>
      </li>
      <li>
      </li>
    </ul>
  </article>
  <article>
    <h3 class="footer__texto">{{help | translate}}</h3>
    <ul>
      <li>
        <a href="/warning">{{warning | translate}}</a>
      </li>
      <li>
        <a href="/privacy">{{privacy | translate}}</a>
      </li>
      <li>
        <a href="/cookies">{{cookies | translate}}</a>
      </li>
    </ul>
  </article>
  <article>
    <h3 class="footer__texto" id="contacto">{{contact | translate}}</h3>
    <nav class="flex">
      <a href="#"><img src="assets/img/discord.svg" alt="logo de discord" class="footer__icon"></a>
      <a href="#"><img src="assets/img/instagram.svg" alt="logo de instagram" class="footer__icon"></a>
      <a href="#"><img src="assets/img/twitter.svg" alt="logo de twitter" class="footer__icon"></a>
      <a href="#"><img src="assets/img/facebook.svg" alt="logo de facebook" class="footer__icon"></a>
      <a href="#"><img src="assets/img/reddit.svg" alt="logo de reddit" class="footer__icon"></a>
      <a href="https://ko-fi.com/ricitos2001/tip"><img src="assets/img/ko-fi.svg" alt="logo de ko-fi" class="footer__icon"></a>
    </nav>
  </article>
</footer>
