<footer class="footer flex">
  <section class="grid-center">
    <a href="/landing" class="footer__logo"><img [src]="darkMode ? 'assets/img/logo_dark.svg' : 'assets/img/logo.svg'" alt="logo del footer"></a>
    <article class="flex-center footer__brand">
      <h3 class="footer__texto">MemoWorks<img src="assets/img/copyright.png" alt="copyright" class="footer__copyright"></h3>
    </article>
  </section>
  <article>
    <h3 class="footer__texto">Información legal</h3>
    <ul>
      <li>
        <a href="/terms">Términos y condiciones</a>
      </li>
      <li>
        <a href="/styles">Guia de estilos</a>
      </li>
      <li>
      </li>
    </ul>
  </article>
  <article>
    <h3 class="footer__texto">Ayuda</h3>
    <ul>
      <li>
        <a href="/warning">Aviso legal</a>
      </li>
      <li>
        <a href="/privacy">Política de privacidad</a>
      </li>
      <li>
        <a href="/cookies">Información sobre cookies</a>
      </li>
    </ul>
  </article>
  <article>
    <h3 class="footer__texto" id="contacto">Contacto</h3>
    <nav class="flex">
      <a href="#"><img src="assets/img/discord.png" alt="logo de discord" class="footer__icon"></a>
      <a href="#"><img src="assets/img/instagram.png" alt="logo de instagram" class="footer__icon"></a>
      <a href="#"><img src="assets/img/twitter.png" alt="logo de twitter" class="footer__icon"></a>
      <a href="#"><img src="assets/img/facebook.png" alt="logo de facebook" class="footer__icon"></a>
      <a href="#"><img src="assets/img/reddit.png" alt="logo de reddit" class="footer__icon"></a>
      <a href="https://ko-fi.com/ricitos2001/tip"><img src="assets/img/ko-fi.png" alt="logo de ko-fi" class="footer__icon"></a>
    </nav>
  </article>
</footer>
