<footer class="footer">
  <article class="footer__marca">
    <!--IMAGEN TEMPORAL-->
    <a href="/landing" class="footer__logo"><img src="assets/img/_𝘊𝘺𝘳𝘦𝘯𝘦-removebg-preview.png" alt="logo" class="footer__logo"></a>
    <article class="footer__titulo">
      <h2 class="footer__texto">MemoWorks</h2>
      <img src="assets/img/copyright.png" alt="copyright" class="footer__copyright">
    </article>
  </article>
  <article>
    <h2 class="footer__texto">Información legal</h2>
    <ul>
      <li>
        <a href="/terminos">Términos y condiciones</a>
      </li>
    </ul>
  </article>
  <article>
    <h2 class="footer__texto">Ayuda</h2>
    <ul>
      <li>
        <a href="/aviso">Aviso legal</a>
      </li>
      <li>
        <a href="/privacidad">Política de privacidad</a>
      </li>
      <li>
        <a href="/cookies">Información sobre cookies</a>
      </li>
    </ul>
  </article>
  <article>
    <h2 class="footer__texto">Contacto</h2>
    <nav>
      <a href="#"><img src="assets/img/discord.png" alt="discord" class="footer__img"></a>
      <a href="#"><img src="assets/img/instagram.png" alt="instagram" class="footer__img"></a>
      <a href="#"><img src="assets/img/twitter.png" alt="twitter" class="footer__img"></a>
      <a href="#"><img src="assets/img/facebook.png" alt="facebook" class="footer__img"></a>
      <a href="#"><img src="assets/img/reddit.png" alt="reddit" class="footer__img"></a>
    </nav>
  </article>
</footer>
