<footer class="footer">
  <article>

    <img src="" alt="logo">
    <p>MemoWorks<img src="" alt="copyright"></p>
  </article>
  <article>
    <h2>Información legal</h2>
    <ul>
      <li>
        <a href="/terminos">Términos y condiciones</a>
      </li>
    </ul>
  </article>
  <article>
    <h2>Ayuda</h2>
    <ul>
      <li>
        <a href="/aviso">Aviso legal</a>
      </li>
      <li>
        <a href="/privacidad">Política de privacidad</a>
      </li>
      <li>
        <a href="/cookies">Información sobre cookies</a>
      </li>
    </ul>
  </article>
  <article>
    <h2>Contacto</h2>
    <nav class="footer__nav">
      <a href="#"><img src="assets/img/discord.png" alt="discord" class="footer__img"></a>
      <a href="#"><img src="assets/img/instagram.png" alt="instagram" class="footer__img"></a>
      <a href="#"><img src="assets/img/twitter.png" alt="twitter" class="footer__img"></a>
      <a href="#"><img src="assets/img/facebook.png" alt="facebook" class="footer__img"></a>
      <a href="#"><img src="assets/img/reddit.png" alt="reddit" class="footer__img"></a>
    </nav>
  </article>
</footer>
