<footer class="footer flex">
  <section class="grid-center">
    <img src="assets/img/logo.svg" alt="logo" class="footer__logo">
    <article class="flex-center">
      <h3 class="footer__texto">MemoWorks</h3>
      <img src="assets/img/copyright.png" alt="copyright" class="footer__copyright">
    </article>
  </section>
  <article>
    <h3 class="footer__texto">Información legal</h3>
    <ul>
      <li>
        <a href="/terminos">Términos y condiciones</a>
      </li>
    </ul>
  </article>
  <article>
    <h3 class="footer__texto">Ayuda</h3>
    <ul>
      <li>
        <a href="/aviso">Aviso legal</a>
      </li>
      <li>
        <a href="/privacidad">Política de privacidad</a>
      </li>
      <li>
        <a href="/cookies">Información sobre cookies</a>
      </li>
    </ul>
  </article>
  <article>
    <h3 class="footer__texto">Contacto</h3>
    <nav class="flex">
      <a href="#"><img src="assets/img/discord.png" alt="discord" class="footer__icon"></a>
      <a href="#"><img src="assets/img/instagram.png" alt="instagram" class="footer__icon"></a>
      <a href="#"><img src="assets/img/twitter.png" alt="twitter" class="footer__icon"></a>
      <a href="#"><img src="assets/img/facebook.png" alt="facebook" class="footer__icon"></a>
      <a href="#"><img src="assets/img/reddit.png" alt="reddit" class="footer__icon"></a>
    </nav>
  </article>
</footer>
