<form [formGroup]="taskForm" (ngSubmit)="onSubmit($event)">
  <fieldset>
    <legend>Editar tarea</legend>
    <app-form-input
      formControlName="title"
      name="title"
      placeholder="Título"
      [required]="true"
      class="grid"
    ></app-form-input>
    <div class="error" *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.invalid">
      <small *ngIf="taskForm.get('title')?.errors?.['required']">Título obligatorio</small>
      <small *ngIf="taskForm.get('title')?.errors?.['minlength']">Mínimo 5 caracteres</small>
    </div>

    <app-form-input
      formControlName="description"
      name="description"
      placeholder="Descripción"
      type="textarea"
      [required]="true"
      class="grid"
    ></app-form-input>
    <div class="error" *ngIf="taskForm.get('description')?.touched && taskForm.get('description')?.invalid">
      <small *ngIf="taskForm.get('description')?.errors?.['required']">Descripción obligatoria</small>
      <small *ngIf="taskForm.get('description')?.errors?.['minlength']">Mínimo 10 caracteres</small>
    </div>

    <app-form-input
      formControlName="date"
      type="date"
      name="date"
      placeholder="Fecha"
      [required]="true"
      class="grid"
    ></app-form-input>
    <app-form-input
      formControlName="time"
      type="time"
      name="time"
      placeholder="Hora"
      [required]="true"
      class="grid"
    ></app-form-input>
    <app-form-input
      name="labelInput"
      placeholder="Añadir etiqueta"
      (keydown.enter)="addLabel(labelInput.value); labelInput.value=''; $event.preventDefault()"
      #labelInput
    ></app-form-input>
    <article *ngFor="let label of labels.controls; let i = index" class="flex-center">
      {{ label.value }}<app-button type="button" (click)="removeLabel(i, $event)">✕</app-button>
    </article>
    <article>
      <app-button type="submit">crear tarea</app-button>
      <app-button type="button" (click)="cancelTask($event)">cancelar</app-button>
    </article>
  </fieldset>
</form>
