<form class="add-task-form" [formGroup]="taskForm" (ngSubmit)="onSubmit($event)">
  <fieldset>
    <legend>Editar tarea</legend>

    <app-form-input
      formControlName="title"
      name="title"
      placeholder="Value"
      label="Título"
      [required]="true"
      class="grid"
    ></app-form-input>
    <article class="error" *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.invalid">
      <small *ngIf="taskForm.get('title')?.errors?.['required']">Título obligatorio</small>
      <small *ngIf="taskForm.get('title')?.errors?.['minlength']">Mínimo 5 caracteres</small>
    </article>

    <app-form-input
      formControlName="description"
      name="description"
      placeholder="Value"
      label="Descripcion"
      type="textarea"
      [required]="true"
      class="grid"
    ></app-form-input>
    <article class="error" *ngIf="taskForm.get('description')?.touched && taskForm.get('description')?.invalid">
      <small *ngIf="taskForm.get('description')?.errors?.['required']">Descripción obligatoria</small>
      <small *ngIf="taskForm.get('description')?.errors?.['minlength']">Mínimo 10 caracteres</small>
    </article>

    <label class="label">Fecha y hora de realizacion</label>
    <article class="date-time-group">
      <app-form-input
        formControlName="date"
        type="date"
        name="date"
        placeholder="--/--/----"
        label="Fecha"
        [required]="true"
      ></app-form-input>
      <app-form-input
        formControlName="time"
        type="time"
        name="time"
        placeholder="--:--"
        label="Hora"
        [required]="true"
      ></app-form-input>
    </article>

    <app-form-input
      name="labelInput"
      placeholder="Añadir etiqueta"
      label="Añadir etiqueta"
      (keydown.enter)="addLabel(labelInput.value, $event); labelInput.value='';"
      #labelInput
    ></app-form-input>

    <section class="labels">
      <article *ngFor="let label of labels.controls; let i = index" class="flex-center">
        {{ label.value }}<app-button (click)="removeLabel(i, $event)">✕</app-button>
      </article>
    </section>
    <article class="actions">
      <app-button (click)="onSubmit($event)" [attr.aria-busy]="loading">Editar tarea</app-button>
      <app-button type="button" class="secondary" (click)="!loading && onCancel($event)">Cancelar</app-button>
    </article>
  </fieldset>
</form>
