<section class="notifications">
  <ng-container>
    <ng-container *ngIf="state().data.length > 0; else empty">
      <ul class="notifications__list">
        <li *ngFor="let notification of state().data; trackBy: trackById" class="notification__item">
          <span class="notifications__title">{{ notification.title }}</span>
          <p class="notifications__message">{{ notification.message }}</p>
          <small class="notifications__date">{{ notification.createdAt | date: 'short' }}</small>
          <hr>
        </li>
      </ul>

      <article #anchor style="height: 1px; width: 100%;"></article>

      <article *ngIf="state().loading" class="notifications__loading">{{moreNotificacions | translate}}</article>

      <article *ngIf="state().eof && !state().loading" class="notifications__end">{{noMoreNotifications | translate}}</article>
    </ng-container>
  </ng-container>

  <ng-template #empty>
    <p class="notifications__empty-state" *ngIf="!state().loading">No hay notificaciones</p>
    <p class="notifications__empty-state" *ngIf="state().loading">Cargando notificaciones...</p>
  </ng-template>
</section>
