@use '../00-settings/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: var(--color-primary-1);
  --letters: var(--color-primary-1);
  --components: var(--color-secondary-3);
  --buttons: var(--color-secondary-1);
  --landing-letters: var(--neutral-900);
  --settings-info-box: var(--color-secondary-5);
  --settings-options-box: var(--color-secondary-2);
  --settings-option-box: var(--color-secondary-4);

}

.theme-dark {
  --background: var(--neutral-500);
  --letters: var(--color-primary-1);
  --components: var(--neutral-700);
  --buttons: var(--neutral-900);
  --landing-letters: var(--color-primary-1);
  --settings-info-box: var(--neutral-500);
  --settings-options-box: var(--neutral-800);
  --settings-option-box: var(--neutral-600);

}


html {
  font-family: var(--font-primary), sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background);
  color: var(--landing-letters);
  font-family: var(--font-primary), sans-serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
