<section class="settings__user" *ngIf="user">
  <section>
    <article class="settings__item">
      <p class="settings__name">{{name | translate}}</p>
      <p class="settings__value">{{ user.name }}</p>
    </article>
    <article class="settings__item">
      <p class="settings__name">{{surnames | translate}}</p>
      <p class="settings__value">{{ user.surnames }}</p>
    </article>
    <article class="settings__item">
      <p class="settings__name">{{usernameText | translate}}</p>
      <p class="settings__value">{{ user.username }}</p>
    </article>
    <article class="settings__item">
      <p class="settings__name">{{phoneNumber | translate}}</p>
      <p class="settings__value">{{ user.phoneNumber }}</p>
    </article>
    <article class="settings__item">
      <p class="settings__name">{{userEmail | translate}}</p>
      <p  class="settings__value">{{ user.email }}</p>
    </article>
  </section>
  <article class="grid-center">
    <img [src]="avatar || 'assets/img/logo.svg'" (error)="onAvatarImageError($event)" alt="user" class="settings__img-profile" loading="lazy" decoding="async">
    <p class="settings__texto">{{imageProfileText | translate}}</p>
    <input #fileInput type="file" accept="image/*" style="display:none" (change)="onFileSelected($event)" [attr.data-file-input-present]="!!fileInput" />
    <app-button (click)="editImageProfile()">{{editImageProfileButton | translate}}</app-button>
  </article>
</section>
<article class="settings__links">
  <a (click)="editUserInfo()">{{editUserInfoButton | translate}}</a>
  <a (click)="logout()">{{closeSessionButton | translate}}</a>
  <a (click)="removeAccount()">{{removeAccountButton | translate}}</a>
</article>
