<section class="flex-center" *ngIf="user">
  <section>
    <article class="settings__item">
      <p class="settings__name">nombre</p>
      <p class="settings__value">{{ user.name }}</p>
    </article>
    <article class="settings__item">
      <p class="settings__name">apellidos</p>
      <p class="settings__value">{{ user.surnames }}</p>
    </article>
    <article class="settings__item">
      <p class="settings__name">nombre de usuarió</p>
      <p class="settings__value">{{ user.username }}</p>
    </article>
    <article class="settings__item">
      <p class="settings__name">numero de teléfono</p>
      <p class="settings__value">{{ user.phoneNumber }}</p>
    </article>
    <article class="settings__item">
      <p class="settings__name">correo electrónico</p>
      <p  class="settings__value">{{ user.email }}</p>
    </article>
  </section>
  <article class="grid-center">
    <img src="assets/img/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector-removebg-preview.png" alt="user">
    <p class="settings__texto">imagen de perfil</p>
    <app-button>editar perfil de usuario</app-button>
  </article>
</section>
<article class="grid">
  <a href="/editarUsuario">Editar información del usuario</a>
  <a (click)="logout()">Cerrar sesión</a>
  <a (click)="removeAccount()">Eliminar cuenta</a>
</article>
