<section class="page page--legal">
  <article class="container">

    <h1>{{title | translate}}</h1>
    <p>{{warning | translate}}</p>
    <p>{{date | translate}}</p>

    <h2>{{subtitle1 | translate}}</h2>
    <p>{{text1 | translate}}</p>

    <h2>{{subtitle2 | translate}}</h2>
    <p>{{text2 | translate}}</p>

    <h2>{{subtitle3 | translate}}</h2>
    <p>{{text3 | translate}}</p>

    <h2>{{subtitle4 | translate}}</h2>
    <p>{{text4 | translate}}</p>

    <h2>{{subtitle5 | translate}}</h2>
    <p>{{text5 | translate}}</p>

    <h2>{{subtitle6 | translate}}</h2>
    <p>{{text6 | translate}}</p>

    <hr>
    <p>{{aboutDudes | translate}}</p>
  </article>
</section>
