<section class="page page--cookies">
  <article class="container">
    <h1>{{title | translate}}</h1>
    <p>{{warning | translate}}</p>
    <p>{{date | translate}}</p>

    <h2>{{subtitle1 | translate}}</h2>
    <p>{{text1 | translate}}</p>

    <h2>{{subtitle2 | translate}}</h2>
    <ul>
      <li><strong>{{cookie1 | translate}}</strong>{{cookietDescription1 | translate}}</li>
      <li><strong>{{cookie2 | translate}}</strong>{{cookietDescription2 | translate}}</li>
      <li><strong>{{cookie3 | translate}}</strong>{{cookietDescription3 | translate}}</li>
      <li><strong>{{cookie4 | translate}}</strong>{{cookietDescription4 | translate}}</li>
    </ul>

    <h2>{{subtitle3 | translate}}</h2>
    <p>{{text3 | translate}}</p>

    <h2>{{subtitle4 | translate}}</h2>
    <p>{{text4 | translate}}</p>

    <hr>
    <p>{{aboutDudes | translate}}</p>
  </article>
</section>
