<section class="flex-center">
  <ng-container *ngIf="(groups$ | async)?.length === 0">
    <article class="grid-center">
      <p class="settings__texto">Aun no estas dentro de un grupo familiar</p>
      <p class="settings__texto">quieres formar parte de uno?</p>
      <app-button (click)="createGroup()">Crear grupo familiar</app-button>
    </article>
  </ng-container>
  <ng-container *ngIf="groups$ | async as groups; else null">
    <section class="settings__familiar-group" *ngFor="let group of groups; trackBy: trackById">
      <article class="flex-center">
        <section>
          <p class="settings__nombre-grupo"><span class="settings__apartado">Nombre: </span>{{ group.name }}</p>
          <p class="settings__texto"><span class="settings__apartado">Descripcion: </span>{{ group.description }}</p>
          <section>
            <p class="settings__apartado">miembros principales:</p>
            <article class="settings__item">
              <article class="settings__users" *ngFor="let user of group.users; trackBy: trackById">
                <img [src]="'assets/img/logo.svg'" [alt]="user.name" class="settings__imgUser">
              </article>
              <a href="/allMembers" class="settings__members-button">ver todos los miembros</a>
            </article>
          </section>
        </section>
        <img src="assets/img/user-profile-icon-in-flat-style-member-avatar-illustration-on-isolated-background-human-permission-sign-business-concept-vector-removebg-preview.png" alt="user" class="settings__img-profile">
      </article>
      <article class="flex">
        <app-button (click)="leaveGroup(group)">Abandonar grupo</app-button>
        <app-button (click)="deleteGroup(group)" *ngIf="group.adminUser.email === this.email">Eliminar grupo</app-button>
        <app-button (click)="editGroup(group.id)" *ngIf="group.adminUser.email === this.email">Editar grupo</app-button>
      </article>
    </section>
  </ng-container>
  <ng-container *ngIf="(groups$ | async)?.length === 1">
    <article class="grid-center">
      <p class="settings__texto">Deseas ser admin de tu propio grupo?</p>
      <app-button (click)="createGroup()">Crear grupo familiar</app-button>
    </article>
  </ng-container>
</section>
<app-confirm-modal #confirmModal></app-confirm-modal>
