<section class="task" *ngIf="task">
  <section>
    <img src="" alt="">
    <article id="etiquetas">
      {{ task.labels.join(', ') }}
    </article>
  </section>
  <section>
    <section>
      <article>
        <img src="assets/img/Calendar.svg" alt="icon">
        <p class="task__text">{{ task.date | date:'dd/MM/yyyy' }}</p>
      </article>
      <article>
        <img src="assets/img/Clock.svg" alt="icon">
        <p class="task__text">{{ task.date | date:'HH:mm' }}</p>
      </article>
    </section>
    <section>
      <article>
        <p class="task__text"><span>{{ task.title }}</span> - {{ task.description }}</p>
      </article>
      <a href="/dashboard"><img src="assets/img/Arrow%20left-circle-yellow.svg" alt="icon"><p>volver</p></a>
    </section>
  </section>
</section>

