<nav aria-label="breadcrumb" *ngIf="breadcrumbs.length">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Inicio</a>
    </li>

    <li
      *ngFor="let crumb of breadcrumbs; let last = last"
      class="breadcrumb-item"
      [class.active]="last"
      [attr.aria-current]="last ? 'page' : null"
    >
      <ng-container *ngIf="!last">
        <a [routerLink]="crumb.url">{{ crumb.label }}</a>
      </ng-container>
      <ng-container *ngIf="last">
        {{ crumb.label }}
      </ng-container>
    </li>
  </ol>
</nav>
