<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" novalidate>
  <fieldset class="grid-center">
    <legend>Iniciar sesión</legend>
    <app-form-input
      formControlName="email"
      type="email"
      name="email"
      placeholder="Correo electrónico"
      [required]="true"
      class="grid"
    ></app-form-input>
    <div class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
      <small *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
      <small *ngIf="loginForm.get('email')?.errors?.['email']">Correo no válido.</small>
    </div>

    <app-form-input
      formControlName="password"
      type="password"
      name="password"
      placeholder="Contraseña"
      [required]="true"
      class="grid"
    ></app-form-input>
    <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      <small>Contraseña obligatoria</small>
    </div>

    <app-button type="submit" class="grid" [disabled]="loginForm.invalid || loginForm.pending">Iniciar sesión</app-button>
    <a (click)="openRegister($event)">¿No tienes cuenta? Registrate</a>
  </fieldset>
</form>
