<form class="add-task-form" [formGroup]="taskForm" (ngSubmit)="onSubmit($event)">
  <fieldset>
    <legend>{{ 'PAGES.TASK.ADD_LEGEND' | translate }}</legend>

    <app-form-input
      formControlName="title"
      name="title"
      placeholder="{{ 'PAGES.TASK.TITLE_PLACEHOLDER' | translate }}"
      [label]="'PAGES.TASK.TITLE_LABEL' | translate"
      [required]="true"
      class="grid"
    ></app-form-input>
    <article class="error" *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.invalid">
      <small *ngIf="taskForm.get('title')?.errors?.['required']">{{ 'VALIDATION.REQUIRED' | translate }}</small>
      <small *ngIf="taskForm.get('title')?.errors?.['minlength']">{{ 'VALIDATION.MIN_LENGTH' | translate }}</small>
    </article>

    <app-form-input
      formControlName="description"
      name="description"
      placeholder="{{ 'PAGES.TASK.DESCRIPTION_PLACEHOLDER' | translate }}"
      [label]="'PAGES.TASK.DESCRIPTION_LABEL' | translate"
      type="textarea"
      [required]="true"
      class="grid"
    ></app-form-input>
    <article class="error" *ngIf="taskForm.get('description')?.touched && taskForm.get('description')?.invalid">
      <small *ngIf="taskForm.get('description')?.errors?.['required']">{{ 'VALIDATION.REQUIRED' | translate }}</small>
      <small *ngIf="taskForm.get('description')?.errors?.['minlength']">{{ 'VALIDATION.MIN_LENGTH' | translate }}</small>
    </article>

    <label class="label">{{ 'PAGES.TASK.DATE_TIME_LABEL' | translate }}</label>
    <article class="date-time-group">
      <app-form-input
        formControlName="date"
        type="date"
        name="date"
        [placeholder]="'PAGES.TASK.DATE_PLACEHOLDER' | translate"
        [label]="'PAGES.TASK.DATE_LABEL' | translate"
        [required]="true"
      ></app-form-input>
      <app-form-input
        formControlName="time"
        type="time"
        name="time"
        [placeholder]="'PAGES.TASK.TIME_PLACEHOLDER' | translate"
        [label]="'PAGES.TASK.TIME_LABEL' | translate"
        [required]="true"
      ></app-form-input>
    </article>

    <article *ngIf="isAdmin$ | async" class="form-row" formGroupName="assigmentFor">
      <label class="label">{{ 'PAGES.TASK.ASSIGN_LABEL' | translate }}</label>
      <select class="form-select" formControlName="id">
        <option *ngFor="let user of groupUsers" [ngValue]="user.id">{{ user.name || user.email }}</option>
      </select>
    </article>

    <app-form-input
      name="labelInput"
      [placeholder]="'PAGES.TASK.ADD_LABEL_PLACEHOLDER' | translate"
      [label]="'PAGES.TASK.ADD_LABEL' | translate"
      (keydown.enter)="addLabel(labelInput.value, $event); labelInput.value='';"
      #labelInput
    ></app-form-input>

    <article class="labels">
      <article *ngFor="let label of labels.controls; let i = index" class="flex-center">
        {{ label.value }}<app-button (click)="removeLabel(i, $event)">✕</app-button>
      </article>
    </article>

    <article class="actions">
      <app-button (click)="onSubmit($event)" [attr.aria-busy]="loading">{{ 'PAGES.TASK.CREATE_BUTTON' | translate }}</app-button>
      <app-button class="secondary" (click)="!loading && cancel.emit()">{{ 'PAGES.TASK.CANCEL_BUTTON' | translate }}</app-button>
    </article>
  </fieldset>
</form>
