<form class="add-task-form" [formGroup]="groupForm" (ngSubmit)="onSubmit($event)">
  <fieldset>
    <legend>{{ 'PAGES.GROUP.CREATE_LEGEND' | translate }}</legend>
    <app-form-input
      formControlName="name"
      name="name"
      [placeholder]="'PAGES.GROUP.NAME_PLACEHOLDER' | translate"
      [label]="'PAGES.GROUP.NAME_LABEL' | translate"
      [required]="true"
      class="grid"
    ></app-form-input>
    <article class="error" *ngIf="groupForm.get('name')?.touched && groupForm.get('name')?.invalid">
      <small *ngIf="groupForm.get('name')?.errors?.['required']">{{ 'VALIDATION.REQUIRED' | translate }}</small>
      <small *ngIf="groupForm.get('name')?.errors?.['minlength']">{{ 'VALIDATION.MIN_LENGTH' | translate }}</small>
    </article>
    <app-form-input
      formControlName="description"
      name="description"
      [placeholder]="'PAGES.GROUP.DESC_PLACEHOLDER' | translate"
      [label]="'PAGES.GROUP.DESC_LABEL' | translate"
      type="textarea"
      [required]="true"
      class="grid"
    ></app-form-input>
    <article class="error" *ngIf="groupForm.get('description')?.touched && groupForm.get('description')?.invalid">
      <small *ngIf="groupForm.get('description')?.errors?.['required']">{{ 'VALIDATION.REQUIRED' | translate }}</small>
      <small *ngIf="groupForm.get('description')?.errors?.['minlength']">{{ 'VALIDATION.MIN_LENGTH' | translate }}</small>
    </article>
    <app-form-input
      name="users"
      [placeholder]="'PAGES.GROUP.ADD_USER_PLACEHOLDER' | translate"
      [label]="'PAGES.GROUP.ADD_USER_LABEL' | translate"
      (keydown.enter)="addUser(labelInput.value, $event); labelInput.value='';"
      #labelInput
    ></app-form-input>
    <article class="error" *ngIf="userNotFound">
      <small>{{ 'PAGES.GROUP.USER_NOT_FOUND' | translate }}</small>
    </article>
    <article class="error" *ngIf="userAlreadyAdded">
      <small>{{ 'PAGES.GROUP.USER_ALREADY_ADDED' | translate }}</small>
    </article>
    <ng-container *ngFor="let userCtrl of users.controls; let i = index">
      <article class="flex-center" *ngIf="userCtrl.value.id !== adminUserId">
        {{ userCtrl.value.username }}
        <app-button (click)="removeUser(i, $event)">✕</app-button>
      </article>
    </ng-container>
    <article class="actions">
      <app-button (click)="onSubmit($event)" [attr.aria-busy]="loading">{{ 'PAGES.GROUP.CREATE_BUTTON' | translate }}</app-button>
      <app-button class="secondary" (click)="!loading && onCancel($event)">{{ 'PAGES.GROUP.CANCEL_BUTTON' | translate }}</app-button>
    </article>
  </fieldset>
</form>
