<form class="add-task-form" [formGroup]="editUserForm" (ngSubmit)="onSubmit($event)" novalidate>
  <fieldset class="fieldset">
    <legend>{{ 'PAGES.USER.EDIT_LEGEND' | translate }}</legend>

    <app-form-input
      formControlName="email"
      type="email"
      name="email"
      [label]="'PAGES.USER.EMAIL_LABEL' | translate"
      [placeholder]="'PAGES.USER.EMAIL_PLACEHOLDER' | translate"
      [required]="true"
    ></app-form-input>
    <article class="error" *ngIf="editUserForm.get('email')?.touched && editUserForm.get('email')?.invalid">
      <small *ngIf="editUserForm.get('email')?.errors?.['required']">{{ 'VALIDATION.REQUIRED' | translate }}</small>
      <small *ngIf="editUserForm.get('email')?.errors?.['email']">{{ 'VALIDATION.EMAIL_INVALID' | translate }}</small>
      <small *ngIf="editUserForm.get('email')?.errors?.['emailTaken']">{{ 'VALIDATION.EMAIL_TAKEN' | translate }}</small>
    </article>

    <app-form-input
      formControlName="username"
      name="username"
      [label]="'PAGES.USER.USERNAME_LABEL' | translate"
      [placeholder]="'PAGES.USER.USERNAME_PLACEHOLDER' | translate"
      [required]="true"
    ></app-form-input>
    <article class="error" *ngIf="editUserForm.get('username')?.touched && editUserForm.get('username')?.invalid">
      <small *ngIf="editUserForm.get('username')?.errors?.['required']">{{ 'VALIDATION.REQUIRED' | translate }}</small>
      <small *ngIf="editUserForm.get('username')?.errors?.['usernameTaken']">{{ 'VALIDATION.USERNAME_TAKEN' | translate }}</small>
    </article>

    <app-form-input
      formControlName="name"
      name="name"
      [label]="'PAGES.USER.NAME_LABEL' | translate"
      [placeholder]="'PAGES.USER.NAME_PLACEHOLDER' | translate"
      [required]="true"
    ></app-form-input>
    <article class="error" *ngIf="editUserForm.get('name')?.touched && editUserForm.get('name')?.invalid">
      <small>{{ 'VALIDATION.REQUIRED' | translate }}</small>
    </article>
    <app-form-input
      formControlName="surnames"
      name="surnames"
      [label]="'PAGES.USER.SURNAMES_LABEL' | translate"
      [placeholder]="'PAGES.USER.SURNAMES_PLACEHOLDER' | translate"
      [required]="true"
    ></app-form-input>
    <article class="error" *ngIf="editUserForm.get('surnames')?.touched && editUserForm.get('surnames')?.invalid">
      <small>{{ 'VALIDATION.REQUIRED' | translate }}</small>
    </article>
    <app-form-input
      formControlName="phoneNumber"
      type="tel"
      [label]="'PAGES.USER.PHONE_LABEL' | translate"
      name="phoneNumber"
      [placeholder]="'PAGES.USER.PHONE_PLACEHOLDER' | translate"
      [required]="true"
    ></app-form-input>
    <article class="error" *ngIf="editUserForm.get('phoneNumber')?.touched && editUserForm.get('phoneNumber')?.invalid">
      <small *ngIf="editUserForm.get('phoneNumber')?.errors?.['required']">{{ 'VALIDATION.REQUIRED' | translate }}</small>
      <small *ngIf="editUserForm.get('phoneNumber')?.errors?.['invalidPhoneNumber']">{{ 'VALIDATION.PHONE_INVALID' | translate }}</small>
    </article>
    <article class="error" *ngIf="editUserForm.errors?.['mismatch'] && editUserForm.get('repeatPassword')?.touched">
      <small>{{ 'VALIDATION.PASSWORDS_MISMATCH' | translate }}</small>
    </article>
    <article class="grid-center">
      <app-button type="submit" class="grid" [disabled]="editUserForm.invalid || editUserForm.pending">{{ 'PAGES.USER.EDIT_SUBMIT' | translate }}</app-button>
      <app-button type="button" class="grid" (click)="cancelEdittion()">{{ 'PAGES.USER.CANCEL' | translate }}</app-button>
    </article>
  </fieldset>
</form>
