<ul *ngIf="tasks.length; else emptyState">
  <li *ngFor="let task of tasks">
    <section class="task">
      <section class="task__image-box">
        <article class="card__labels">
          <span *ngFor="let lbl of task.labels" class="card__label">{{ lbl }}</span>
        </article>
      </section>
      <section class="task__box">
        <section class="flex">
          <article class="flex">
            <img src="../../../../assets/img/Calendar.svg" alt="icon">
            <p class="task__text">{{ task.date | date:'dd/MM/yyyy' }}</p>
          </article>
          <article class="flex">
            <img src="../../../../assets/img/Clock.svg" alt="icon">
            <p class="task__text">{{ formatTime(task.time) | date:'HH:mm' }}</p>
          </article>
        </section>
        <section class="flex">
          <article class="flex-center">
            <p class="task__text"><span>{{ task.title }}</span> - {{ task.description }}</p>
          </article>
          <app-view-task-button (click)="viewDetails(task.id)"></app-view-task-button>
        </section>
      </section>
    </section>
  </li>
</ul>

<ng-template #emptyState>
  <div class="card card--empty grid-center">
    <h3>Empecemos a organizarnos</h3>
    <p>Aún no tienes tareas. Crea la primera para empezar a organizar tu día.</p>
    <app-button class="btn btn--primary" (click)="createFromEmpty.emit()">Crear primera tarea</app-button>
  </div>
</ng-template>
