<section class="container grid style-guide">
  <h1>{{title | translate}}</h1>
  <p>{{intro | translate }}</p>
  <article>
    <h2>{{typographyTitle | translate}}</h2>
    <ul>
      <li><strong>{{firstTypography | translate}}</strong>{{firstTypographyDescription | translate}}</li>
      <li><strong>{{secondTypography | translate}}</strong>{{secondTypographyDescription | translate}}</li>
      <li><strong>{{alternativeTypography | translate}}</strong>{{alternativeTypographyDescription | translate}}</li>
      <li><strong>{{typographySizes | translate}}</strong>{{typographySizesDescription | translate}}</li>
      <li><strong>{{typographyDecorations | translate}}</strong>{{typographyDecorationsDescription | translate}}</li>
    </ul>
  </article>
  <section>
    <h2>{{colorsTitle | translate}}</h2>
    <p>{{colorsDescription1 | translate}}<code>--theme</code>{{colorsDescription2 | translate}}<code>ThemeService</code>.</p>
    <ul>
      <li><strong>{{primaryColor | translate}}</strong>{{primaryColorDescription | translate}}</li>
      <li><strong>{{secondaryColor | translate}}</strong>{{secondaryColorDescription | translate}}</li>
      <li><strong>{{neutralColor | translate}}</strong>{{neutralColorDescription | translate}}</li>
      <li><strong>{{othersColors | translate}}</strong>{{othersColorsDescription | translate}}</li>
    </ul>
    <h3>{{usedColors | translate}}</h3>
    <section class="palette flex-center">
      <!-- Primarios -->
      <section>
        <article class="box box--primary-1">
          <span class="box__hex">#FEFBEC</span>
        </article>
        <article class="box box--primary-2">
          <span class="box__hex">#FDF7D8</span>
        </article>
        <article class="box box--primary-3">
          <span class="box__hex">#FCF4C5</span>
        </article>
        <article class="box box--primary-4">
          <span class="box__hex">#FBF0B1</span>
        </article>
        <article class="box box--primary-5">
          <span class="box__hex">#FAEC9E</span>
        </article>
      </section>
      <!-- Secundarios -->
      <section>
        <article class="box box--secondary-1">
          <span class="box__hex">#341A38</span>
        </article>
        <article class="box box--secondary-2">
          <span class="box__hex">#412046</span>
        </article>
        <article class="box box--secondary-3">
          <span class="box__hex">#4E2754</span>
        </article>
        <article class="box box--secondary-4">
          <span class="box__hex">#5B2D62</span>
        </article>
        <article class="box box--secondary-5">
          <span class="box__hex">#683370</span>
        </article>
      </section>
      <!-- Success -->
      <section>
        <article class="box box--success-1">
          <span class="box__hex">#EBF9C8</span>
        </article>
        <article class="box box--success-2">
          <span class="box__hex">#E4F6B6</span>
        </article>
        <article class="box box--success-3">
          <span class="box__hex">#DDF4A4</span>
        </article>
        <article class="box box--success-4">
          <span class="box__hex">#D7F291</span>
        </article>
        <article class="box box--success-5">
          <span class="box__hex">#D0F07F</span>
        </article>
      </section>
      <!-- Error -->
      <section>
        <article class="box box--error-1">
          <span class="box__hex">#F8C9C9</span>
        </article>
        <article class="box box--error-2">
          <span class="box__hex">#F6B6B6</span>
        </article>
        <article class="box box--error-3">
          <span class="box__hex">#F4A4A4</span>
        </article>
        <article class="box box--error-4">
          <span class="box__hex">#F29191</span>
        </article>
        <article class="box box--error-5">
          <span class="box__hex">#F07F7F</span>
        </article>
      </section>
      <!-- Warning -->
      <section>
        <article class="box box--warning-1">
          <span class="box__hex">#F8E2C9</span>
        </article>
        <article class="box box--warning-2">
          <span class="box__hex">#F6D8B6</span>
        </article>
        <article class="box box--warning-3">
          <span class="box__hex">#F4CFA4</span>
        </article>
        <article class="box box--warning-4">
          <span class="box__hex">#F2C591</span>
        </article>
        <article class="box box--warning-5">
          <span class="box__hex">#F0BB7F</span>
        </article>
      </section>
      <!-- Info -->
      <section>
        <article class="box box--info-1">
          <span class="box__hex">#C9DAF8</span>
        </article>
        <article class="box box--info-2">
          <span class="box__hex">#B6CDF6</span>
        </article>
        <article class="box box--info-3">
          <span class="box__hex">#A4C0F4</span>
        </article>
        <article class="box box--info-4">
          <span class="box__hex">#91B3F2</span>
        </article>
        <article class="box box--info-5">
          <span class="box__hex">#7FA7F0</span>
        </article>
      </section>
      <!-- Neutros -->
      <section>
        <article class="box box--neutral-1">
          <span class="box__hex">#7A7A7A</span>
        </article>
        <article class="box box--neutral-2">
          <span class="box__hex">#707070</span>
        </article>
        <article class="box box--neutral-3">
          <span class="box__hex">#666666</span>
        </article>
        <article class="box box--neutral-4">
          <span class="box__hex">#525252</span>
        </article>
        <article class="box box--neutral-5">
          <span class="box__hex">#474747</span>
        </article>
      </section>
    </section>
  </section>

  <section>
    <h2>{{iconographyTitle | translate}}</h2>
    <p>{{iconographyDescription1 | translate}}<code>src/assets/img/</code>{{iconographyDescription2 | translate}}<code>&lt;img&gt;</code>{{iconographyDescription3 | translate}}</p>
  </section>
  <article>
    <h2>{{spacingTitle | translate}}</h2>
    <p>{{spacingText1 | translate}}<code>container</code>, <code>grid</code>, <code>flex</code> y <code>grid-center</code>{{spacingText2 | translate}}</p>
  </article>

  <article>
    <h2>{{componentsTitle | translate}}</h2>
    <ul>
      <li><code><app-button>button</app-button></code>{{componentItem1 | translate}}</li>
      <li><code>&lt;app-auth-modal&gt;</code>{{componentItem2 | translate}}</li>
      <li><code><app-form-input placeholder="form input"></app-form-input></code>, <code>&lt;app-task-card&gt;</code>{{componentItem3 | translate}}</li>
      <li>{{componentItem4 | translate}}<code>addButton</code>, <code>editButton</code>, <code>removeButton</code>.</li>
    </ul>
  </article>
  <section>
    <h2>{{formsTitle | translate}}</h2>
    <p>{{formsText1 | translate}}<code>validators/</code>{{formsText2 | translate}}<code>services/async-validators.service.ts</code>{{formsText3 | translate}}</p>
    <section class="styles__grid">
      <app-login></app-login>
      <app-recover-password></app-recover-password>
      <app-register></app-register>
      <app-add-task></app-add-task>
      <app-edit-task></app-edit-task>
    </section>
  </section>
  <article>
    <h2>{{utilitiesTitle | translate}}</h2>
    <p>{{utilitiesText1 | translate}}<code>src/styles/</code>{{utilitiesText2 | translate}}<code>00-settings</code>, <code>02-generic</code>{{utilitiesText3 | translate}}</p>
  </article>
  <article>
    <h2>{{darkmodeTitle | translate}}</h2>
    <p>{{darkmodeText1 | translate}}<code>ThemeService</code>{{darkmodeText2 | translate}}<code>darkMode</code>{{darkmodeText3 | translate}}<code>[src]\="darkMode ? 'img1' : 'img2'"</code>{{darkmodeText4 | translate}}</p>
  </article>
  <article>
    <h2>{{a11yTitle | translate}}</h2>
    <ul>
      <li>{{a11yItem1Part1 | translate}}<code>role</code>, <code>aria-label</code> y <code>tabindex</code>{{a11yItem1Part2 | translate}}</li>
      <li>{{a11yItem2 | translate}}</li>
    </ul>
  </article>

  <article>
    <h2>{{contributingTitle | translate}}</h2>
    <p>{{contributingText1 | translate}}</p>
    <ol>
      <li>{{contributingLi1 | translate}}</li>
      <li>{{contributingLi2Part1 | translate}}<code>styles/</code>{{contributingLi2Part2 | translate}}</li>
      <li>{{contributingLi3 | translate}}</li>
    </ol>
  </article>
  <article>
    <p>{{lastUpdatePart1 | translate}}<code>src/styles/</code>{{lastUpdatePart2 | translate}}</p>
  </article>
</section>

