@use "../00-settings/css-variables" as *;
@use "../01-tools/mixins" as *;

.theme-btn {
  align-items: center;
  background: var(--dark-mode-button);
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 2.6rem;
  justify-content: center;
  padding: 0;
  transition: all 0.2s ease;
  width: 2.6rem;
}

.theme-btn img,
.dark-mode-button img {
  display: block;
  height: 1.6rem;
  width: 1.6rem;
}

.theme-btn.dark {
  background: var(--neutral-600);
}
