@use "../00-settings/css-variables" as *;
@use "../01-tools/mixins" as *;

/* Botón base */
.theme-btn {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  background-color: var(--color-secondary-4);
}

.theme-btn.dark {
  background-color: var(--neutral-600);
  border-radius: 8px;
}
