<section class="modal" *ngIf="isOpen">
  <article class="modal__overlay" (click)="onOverlayClick()"></article>

  <section class="modal__container" [ngClass]="'modal--' + size" role="dialog" aria-modal="true">
    <article class="modal__header" *ngIf="showHeader">
      <h3 class="modal__title">{{ title }}</h3>
      <button class="modal__close" (click)="onCloseClick()" aria-label="Cerrar">✕</button>
    </article>

    <article class="modal__body">
      <ng-content></ng-content>
    </article>
  </section>
</section>
