@use '../00-settings/css-variables' as *;
@use '../01-tools/mixins' as *;

.footer {
  background: var(--components);
  box-shadow: var(--shadow-md);
  display: flex;
  gap: var(--spacing-8);
  justify-content: space-between;
  padding: var(--spacing-8) 0;
  position: sticky;
  top: 0;
  transition: box-shadow var(--transition-base), transform var(--transition-base);
  z-index: 10;
  flex-wrap: wrap;
}

.footer.elevate-on-hover:hover {
  box-shadow: var(--shadow-lg);
  transform: translateY(-0.25rem);
}

.footer__brand {
  align-items: center;
  display: flex;
  gap: var(--spacing-4);
}

.footer__logo img {
  height: auto;
  max-width: 6rem;
}

.footer__copyright {
  display: inline-block;
  height: auto;
  max-width: 2.2rem;
}

.footer__icon {
  max-width: 2.5rem;
}

.footer__texto {
  color: var(--letters);
  font-weight: var(--font-weight-regular);
  margin-bottom: var(--spacing-4);
}

.footer article {
  padding: 0 var(--spacing-4);
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.footer a {
  color: var(--letters);
  display: inline-block;
  padding: var(--spacing-1) 0;
  text-decoration: none;
}


@media (max-width: var(--breakpoint-md)) {
  .footer {
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-8);
    padding: var(--spacing-8);
    text-align: center;
    justify-content: center;
  }

  .footer__logo img {
    max-width: 5rem;
  }

  .footer__copyright {
    max-width: 1.4rem;
  }

  .footer article {
    padding: 0;
  }
}
