@use '../00-settings/css-variables' as *;
@use '../01-tools/mixins' as *;


.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  background: var(--components);
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  box-shadow: var(--shadow-md);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  transition: box-shadow var(--transition-base), transform var(--transition-base);
}

.header.elevate-on-hover:hover {
  transform: translateY(-0.25rem);
  box-shadow: var(--shadow-lg);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  margin-top: var(--spacing-1);
  padding: 0;
}

.header__nav{
  display: flex;
  flex-direction: row;
  gap: var(--spacing-5);
  align-items: center;
  justify-content: center;
}

.header__nav li {
  list-style: none;
}

.header__nav .header__link, .header__link {
  color: var(--letters);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
  padding: calc(var(--spacing-1)) var(--spacing-1);
  display: inline-block;
  line-height: 1;
}

.header__logo {
  max-width: 8rem;
  padding: var(--spacing-2) var(--spacing-2);
  margin-bottom: var(--spacing-1);
}

@media (max-width: 480px) {
  .header {
    font-size: var(--font-size-base);
    padding-top: var(--spacing-1);
    padding-bottom: var(--spacing-1);
  }

  .header__nav .header__link,
  .header__link {
    font-size: 1.1rem;
    padding: calc(var(--spacing-1)) var(--spacing-1);
  }
  .header__logo {
    max-width: 7.5rem;
  }
}
