@use '../00-settings/css-variables' as *;
@use '../01-tools/mixins' as *;

.header, .footer {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  background: var(--color-secondary-3);
}

.header {
  align-items: center;
}

.main{
  align-items: center;
  justify-content: center;
  padding: var(--spacing-24);
  min-height: 56.25rem;
}

/***************************************************/

.header__nav{
  display: flex;
  flex-direction: row;
}

.header__nav{
  align-items: center;
  justify-content: center;
}

.header__logo {
  max-width: 10%;
  padding: var(--spacing-6) var(--spacing-6) var(--spacing-6) var(--spacing-6);
}

.footer__copyright {
  max-width: 8%;
}

.footer__icon {
  max-width: 2.5rem;
}

.footer__texto{
  color: var(--color-primary-1);
  font-weight: var(--font-weight-regular);
}

/***********************************************************************************/

.landing__section{
  align-items: center;
  justify-content: center;
  padding: var(--spacing-24);
}

.landing__space {
  padding: var(--spacing-24);
}

.landing__icon {
  max-width: 50%;
  padding: var(--spacing-6) var(--spacing-6) var(--spacing-6) var(--spacing-6);
  background: var(--color-secondary-3);
  border-radius: var(--radius-xl);
}

.settings{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--spacing-24);
}

.settings__choices{
  background: var(--color-secondary-2);
  padding: var(--spacing-4);
}

.settings__choice{
  color: var(--color-primary-1);
  background: var(--color-secondary-3);
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-4) var(--spacing-24) var(--spacing-4) var(--spacing-4);
}

.settings__info {
  background: var(--color-secondary-4);
  padding: var(--spacing-4);
}

.settings__item {
  display: flex;
  flex-direction: row;
  padding-top: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  align-items: center;
}

.settings__name{
  padding: var(--spacing-4);
  color: var(--color-primary-1);
  background: var(--color-secondary-1);
  flex: 0 0 16.25rem;
}

.settings__value{
  padding: var(--spacing-4);
  color: var(--color-secondary-1);
  background: var(--color-primary-1);
  flex: 0 0 16.25rem;
}

.settings__texto{
  color: var(--color-primary-1);
}

/*****************************************************/

.settings__nombre-grupo{
  color: var(--color-primary-1);
  font-size: var(--font-size-xl);
}

.settings__users {
  display: flex;
  flex-direction: row;
  color: var(--color-secondary-1);
  background: var(--color-primary-1);
  flex: 0 0 auto;
}

.settings__imgUser{
  width: var(--spacing-24);
  height: var(--spacing-24);
}

/*****************************************************/

.optionButton {
  padding: var(--spacing-4);
  background: var(--color-secondary-3);
  border-radius: var(--radius-sm);
  position: fixed;
  right: var(--spacing-24);
  bottom: var(--spacing-24);
  transform: translateY(-50%);
}

.addButton {
  padding: var(--spacing-4);
  background: var(--color-secondary-3);
  border-radius: var(--radius-sm);
  position: fixed;
  right: var(--spacing-24);
  bottom: 24rem;
  transform: translateY(-50%);
}

.editButton {
  padding: var(--spacing-4);
  background: var(--color-secondary-3);
  border-radius: var(--radius-sm);
  position: fixed;
  right: var(--spacing-24);
  bottom: 18rem;
  transform: translateY(-50%);
}
.removeButton {
  padding: var(--spacing-4);
  background: var(--color-secondary-3);
  border-radius: var(--radius-sm);
  position: fixed;
  right: var(--spacing-24);
  bottom: 12rem;
  transform: translateY(-50%);
}

/*****************************************************/

.task, .task-details{
  background: var(--color-secondary-3);
}

.task {
  width: 25rem;
  height: 30rem;
}

.task-details {
  width: 50rem;
  height: 25rem;
}

.task__text, .task-details__text {
  color: var(--color-primary-1);
}

.task-details__title {
  color: var(--color-primary-1);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.task-details__padding {
  padding-top: var(--spacing-24);
  padding-right: var(--spacing-12);
  padding-bottom: var(--spacing-24);
}

.task__box, .task-details__box {
  width: 25rem;
  height: 15rem;
}

.task__image-box, .task-details__image-box {
  display: flex;
  flex-direction: column-reverse;
  width: 25rem;
  height: 15rem;
  background-image: url("/assets/img/funds/digital-dimensions-twilight-landscape-with-a-purple-haze-sunrise-designed-by-ppublish-colorful-reflections-perfect-942666541-1.jpg");
  background-size: cover;
}
