@use '../00-settings/css-variables' as *;
@use '../01-tools/mixins' as *;

.main {
  align-items: center;
  background: var(--background);
  justify-content: center;
  min-height: 56.25rem;
  padding: var(--spacing-8);
}
