@use '../00-settings/css-variables' as *;
@use '../01-tools/mixins' as *;

.removeTask::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--card-opacity);
  pointer-events: none;
  z-index: 1;
}

.task__trashButtton {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--components);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}
