@use '../00-settings/css-variables' as *;
@use '../01-tools/mixins' as *;

.settings{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--spacing-24);
  margin: 0;
}

.settings__choices{
  background: var(--settings-options-box);
  padding: var(--spacing-4);
  margin: 0;
}

.settings__content{
  padding: 0;
  margin: 0;
}

.settings__choice{
  color: var(--color-primary-1);
  background: var(--components);
  font-weight: var(--font-weight-regular);
  padding: var(--spacing-4) var(--spacing-24) var(--spacing-4) var(--spacing-4);
  margin: 0;
}

.settings__info {
  background: var(--settings-option-box);
  padding: var(--spacing-4);
  margin: 0;
}

.settings__item {
  display: flex;
  flex-direction: row;
  padding-top: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  align-items: center;
  margin: 0;

}

.settings__name{
  padding: var(--spacing-4);
  color: var(--color-primary-1);
  background: var(--buttons);
  flex: 0 0 16.25rem;
}

.settings__value{
  padding: var(--spacing-4);
  color: var(--value-letters);
  background: var(--color-primary-1);
  flex: 0 0 16.25rem;
}

.settings__texto{
  color: var(--color-primary-1);
}

.settings__nombre-grupo{
  color: var(--color-primary-1);
  font-size: var(--font-size-xl);
}

.settings__users {
  display: flex;
  flex-direction: row;
  color: var(--background);
  background: var(--color-primary-1);
  flex: 0 0 auto;
}

.settings__imgUser{
  width: var(--spacing-24);
  height: var(--spacing-24);
}
