@use '../00-settings/css-variables' as *;
@use '../01-tools/mixins' as *;

.user__searcher {
  margin: var(--spacing-12);
  text-align: center;
}

.user__title {
  text-align: center;
}

.user__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.user__li {
  max-width: 30rem;
  max-height: 30rem;
  text-align: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  background: var(--components);
  border-radius: var(--radius-lg);
  margin: var(--spacing-4);
  box-shadow: 0 12px 36px rgba(0, 0, 0, 0.28);
}


.user__imgContainer {
  padding: var(--spacing-8);
}

.user__text {
  color: var(--letters);
  padding-top: var(--spacing-2);
  padding-right: var(--spacing-24);
  padding-left: var(--spacing-24);
  padding-bottom: var(--spacing2);
}

.user__imgUser {
  width: 5rem;
  height: 5rem;
  border: 0.025rem, solid, var(--letters);
  border-radius: var(--radius-full);
}

@media(max-width: 1024px) {
  .user__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 640px) {
  .user__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .user__container .user__li {
    max-width: 27.5rem;
  }

  .user__text {
    padding: var(--spacing-1);
  }

  .user__imgContainer {
    padding: var(--spacing-4);
  }
}
